./OrionRenderer/x64/*
./OrionRenderer/Dependencies/glm/doc/
./OrionRenderer/Dependencies/GLFW/*.c
./OrionRenderer/Dependencies/GLFW/*.h
./x64/*
*.html
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
